
<h4>Click the image to see how we work!</h4>
<%= link_to 'https://docs.google.com/presentation/d/1cV4Dkxmkick4Vs8rOlCzXSSqDzglo9MTVgiCLY_XxDY/edit#slide=id.g823ca111ff_0_130' do %>
<%= image_tag "Screenshot 2021-10-12 at 15.09.48.png", height: 750 %>
<% end %>
